services:

  mariadb:
    container_name: mariadb
    image: mariadb:inception
    build: requirements/mariadb
    volumes:
      - /home/kseligma/data/mariadb:/var/lib/mysql
    networks:
      - inception
    healthcheck:
      test: ["CMD-SHELL", "mariadb_healthcheck.sh"]
      start_period: 15s
    env_file:
      - .env
    restart: on-failure

  nginx:
    container_name: nginx
    image: nginx:inception
    build: requirements/nginx
    volumes:
      - /home/kseligma/data/wordpress:/var/www/wordpress
      - /home/kseligma/data/html:/var/www/html
    networks:
      - inception
    depends_on:
      wordpress:
        condition: service_started
    ports:
      - 443:443
      - 80:80
    restart: on-failure

  wordpress:
    container_name: wordpress
    image: wordpress:inception
    build: requirements/wordpress
    volumes:
      - /home/kseligma/data/wordpress:/var/www/wordpress
    networks:
      - inception
    depends_on:
      mariadb:
        condition: service_healthy
    env_file:
      - .env
    restart: on-failure
  
networks:
  inception:
    name: inception
